@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*
{
    margin:0;
    padding: 0;
}
body
{
    box-sizing: border-box;
    background-color: #000;
    color: #F6F6F6;
}
.cabecalho
{
    padding: 3% 0 0 15%;
}
.cabecalho__menu
{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link
{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color:#22D4FD;
}
.cabecalho__menu__link:hover
{
    color: #1CB4D6;
}
.apresentacao
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 15%;
}
.apresentacao__conteudo
{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo
{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;;
}
.apresentacao__conteudo__texto
{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.rodape
{
    padding: 23.75px;
    text-align: center;
    color: #000;
    background-color: #22D4FD;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}