@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
:root
{
    --cor-primaria: #000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
}
*
{
    margin:0;
    padding: 0;
}
body
{
    box-sizing: border-box;
    background-color: #000;
    color: #F6F6F6;
}
.cabecalho
{
    padding: 3% 0 0 15%;
}
.cabecalho__menu
{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link
{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color:#22D4FD;
}
.cabecalho__menu__link:hover
{
    color: #1CB4D6;
}
.rodape
{
    padding: 23.75px;
    text-align: center;
    color: #000;
    background-color: #22D4FD;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}